/* static/styles/front/home.css */

.Home header{
    background: var(--background-dark);
}

.Home header .inner{
    display: grid;
    grid-template-columns: 25% auto 25%;
    align-items: center;
    padding: 15px 0;
}

.Home header .inner .title a{
    color: orange;
    font: 35px/1.5 StardosStencil, Limonf3;
}

.Home header .inner form{
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.Home header .inner form input,
.Home header .inner form select{
    font: var(--body-font);
    padding: 2px 5px;
}

.Home header .inner .login{
    text-align: right;
    color: white;
}

.Home header .inner .login a{
    color: white;
    font-size: 18px;
}

@media only screen and (max-width: 600px){
    .Home header .inner{
        grid-template-columns: 100%;
        padding: 15px;
    }

    .Home header .inner .title{
        text-align: center;
    }
}